<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2c30adbff5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./dist/css/app.css">
    <title>NEXGEN</title>
</head>

<body>
    <div id="app">
        <!-- nav top  -->
        <nav>
            <div class="container_nav">
                <div class="nav_left">
                    <span>
                        <i class="fas fa-clock"></i>
                        Open Hours: Man - Sat - 9:00 - 18:00
                    </span>
                </div>

                <div class="nav_right">
                    <ul>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            {{phone}}
                        </li>
                        <li>
                            <i class="far fa-envelope"></i>
                            {{email}}
                        </li>
                        <li>
                            <i class="fab fa-facebook-f"></i>
                        </li>
                        <li>
                            <i class="fab fa-twitter"></i>
                        </li>
                        <li>
                            <i class="fab fa-linkedin-in"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- header a due colonne  -->
        <header>
            <!-- sezione logo colonna sx -->
            <div class="header_left">
                <div class="logo">
                    <span>NEX</span>
                    <span>GEN</span>
                </div>
            </div>
            <!-- sezione nav e colonna dx  -->
            <div class="header_right">
                <div class="nav_header">
                    <a href="#">home</a>
                    <a href="#">services</a>
                    <a href="#">skills</a>
                    <a href="#">partners</a>
                    <a href="#">blog</a>
                    <a class="btn_full" href="#">get in touch</a>
                </div>

                <div class="card_header">
                    <div class="card_header_title">
                        <h1> <span> Logistics </span>that goes further. </h1>
                    </div>
                    <div class="card_header_text">
                        <p>For 20 years working with the most innovative in the field of transport.</p>
                    </div>
                    <div class="card_header_btn">
                        <a href="#">Get in touch</a>
                        <a href="">Read More</a>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <!-- sezione logistics service  -->
            <section class="business_area">
                <div class="business_area_cards">
                    <div class="card_service">
                        <span>OUR BUSINESS AREA</span>
                        <h2>Logistics Service</h2>
                        <p>We are leaders in providing logistics services with a set of cutting edge technologies and a
                            team of experienced and renowned professional.</p>
                        <ul>
                            <li>Tradition</li>
                            <li>Quality</li>
                            <li>Security</li>
                        </ul>
                        <a href="#">READ MORE</a>
                    </div>
                    <!-- cards gen da vue  -->
                    <div v-for="ele  in businessAria">
                        <div :class="ele.name">
                            <img :src="ele.image" alt="">
                            <h3>{{ele.title}}</h3>
                            <p>{{ele.text}}</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- sezione the company a due colonne  -->
            <section class="the_company">
                <div class="about_company">
                    <span>About the network</span>
                    <h2><span>The</span> Company</h2>
                    <p>Whit all of this expertise and capability comes unrivalled commitment to customer service.</p>
                    <div class="grafico" v-for="ele in diagramma">
                        <span>{{ele.valore + '%'}}</span>
                        <h4>{{ele.name}}</h4>
                        <p>{{ele.descrizione}}</p>
                    </div>
                </div>
                <div class="about_company_image"></div>
            </section>
            <!-- sezione sponsor -->
            <section class="partnerschip">
                <div class="partner_logo">
                    <span v-for="num in 5">
                        <img :src="partners + num + '.png' " alt="">
                    </span>
                </div>
            </section>
            <!-- sezione latest con 3 card  -->
            <section class="latest">
                <div class="new">
                    <h6>Our editorial content</h6>
                    <h2>Latest <span>News</span> </h2>
                    <div class="mose">
                        <span>Every week we publish content about what is best in the business world.</span>
                        <a href="#">SELL ALL</a>
                    </div>
                    <div class="latest_cards">
                        <div class="latest_card" v-for="ele in latests">
                            <img :src="ele.image" alt="">
                            <p>{{ele.title}}</p>
                        </div>

                    </div>
                </div>
            </section>
            <!-- sezione delle news letter -->
            <section class="news_letter">
                <div class="news_letter_testo">
                    <h6>newsletter</h6>
                    <h2><span>Know</span> First</h2>
                    <p>Follow clorely and receive content about our company and the news of the current market.</p>
                </div>
                <div class="news_letter_form">
                    <input type="text" placeholder="  Name">
                    <input type="email" placeholder="  Email">
                    <a href="#">SUBSCRIBE</a>
                </div>
            </section>
            <!-- sezione invia messaggi -->
            <section class="send_message">
                <div class="send_message_form">
                    <h6>Send a message</h6>
                    <h2>Get in <span>Touch</span></h2>
                    <p>We will respond to your message as soon as possible.</p>
                    <form>
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email">
                        <input type="number" placeholder="Phone">
                        <select name="" id="opt">
                            <option id="opt">More info</option>
                        </select>
                        <textarea name="" id="">Message</textarea>
                    </form>
                    <a href="#">SEND</a>
                </div>
                <div class="send_message_example">
                    <h5>Example Inc.</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Excepturi quos, distinctio porro recusandae maiores iusto cum!</p>
                    <ul>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            {{phone}}
                        </li>
                        <li>
                            <i class="far fa-envelope"></i>
                            {{email}}
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            {{address}}
                        </li>
                    </ul>
                    <a href="#">VIEW MAP</a>

                </div>
            </section>



        </main>
        <footer>
            <div class="footer_container">
                <div class="footer_card"></div>
                <div class="footer_card about">
                    <h4>About</h4>
                    <ul>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            The Company

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Institutional

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Social & Events

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Innovation

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Environment

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Techology

                        </li>
                    </ul>
                </div>
                <div class="footer_card Transport">
                    <h4>Transport</h4>
                    <ul>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Industrialized

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Chemicals

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Packaged Liquids

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Construction

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Laminated Wood

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            And others

                        </li>
                    </ul>
                </div>
                <div class="footer_card support">
                    <h4>Support</h4>
                    <ul>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Responsability

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Terms of Use

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            About Cookies

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Privacy Policy

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Accessibility

                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            Information

                        </li>
                    </ul>
                </div>
            </div>
        </footer>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./dist/js/app.js"></script>
</body>

</html>