<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2c30adbff5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./dist/css/app.css">
    <title>NEXGEN</title>
</head>

<body>
    <div id="app">
        <!-- nav top  -->
        <nav>
            <div class="container_nav">
                <div class="nav_left">
                    <span>
                        <i class="fas fa-clock"></i>
                        Open Hours: Man - Sat - 9:00 - 18:00
                    </span>
                </div>

                <div class="nav_right">
                    <ul>
                        <li>
                            <i class="fas fa-phone-alt"></i>
                            {{phone}}
                        </li>
                        <li>
                            <i class="far fa-envelope"></i>
                            {{email}}
                        </li>
                        <li>
                            <i class="fab fa-facebook-f"></i>
                        </li>
                        <li>
                            <i class="fab fa-twitter"></i>
                        </li>
                        <li>
                            <i class="fab fa-linkedin-in"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- header a due colonne  -->
        <header>
            <!-- sezione logo colonna sx -->
            <div class="header_left">
                <div class="logo">
                    <span>NEX</span>
                    <span>GEN</span>
                </div>
            </div>
            <!-- sezione nav e colonna dx  -->
            <div class="header_right">
                <div class="nav_header">
                    <a href="#">home</a>
                    <a href="#">services</a>
                    <a href="#">skills</a>
                    <a href="#">partners</a>
                    <a href="#">blog</a>
                    <a class="btn_full" href="#">get in touch</a>
                </div>

                <div class="card_header">
                    <div class="card_header_title">
                        <h1> <span> Logistics </span>that goes further. </h1>
                    </div>
                    <div class="card_header_text">
                        <p>For 20 years working with the most innovative in the field of transport.</p>
                    </div>
                    <div class="card_header_btn">
                        <a href="#">Get in touch</a>
                        <a href="">Read More</a>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <!-- sezione logistics service  -->
            <section class="business_area">
                <div class="business_area_cards">
                    <div class="card_service">
                        <span>OUR BUSINESS AREA</span>
                        <h2>Logistics Service</h2>
                        <p>We are leaders in providing logistics services with a set of cutting edge technologies and a
                            team of experienced and renowned professional.</p>
                        <ul>
                            <li>Tradition</li>
                            <li>Quality</li>
                            <li>Security</li>
                        </ul>
                        <a href="#">READ MORE</a>
                    </div>
                    <!-- cards gen da vue  -->
                    <div v-for="ele  in businessAria">
                        <div :class="ele.name">
                            <img :src="ele.image" alt="">
                            <h3>{{ele.title}}</h3>
                            <p>{{ele.text}}</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- sezione the company a due colonne  -->
            <section class="the_company">
                <div class="about_company">
                    <span>About the network</span>
                    <h2><span>The</span> Company</h2>
                    <p>Whit all of this expertise and capability comes unrivalled commitment to customer service.</p>
                    <div class="grafico" v-for="ele in diagramma">
                        <span>{{ele.valore + '%'}}</span>
                        <h4>{{ele.name}}</h4>
                        <p>{{ele.descrizione}}</p>
                    </div>
                </div>
                <div class="about_company_image"></div>
            </section>
            <!-- sezione sponsor -->
            <section class="partnerschip">
                <div class="partner_logo">
                    <span v-for="num in 5">
                        <img :src="partners + num + '.png' " alt="">
                    </span>
                </div>
            </section>


        </main>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./dist/js/app.js"></script>
</body>

</html>