.partner_logo{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        height: 30px;
        filter: grayscale(5);
        color: #888B88;
        }
     
}
