$bgNav: #252c2f;
$txtNav: #e5ebe5;

$logoNex: #048383;
$logoGen: #edf4ec;
// section business area 
$bgBusinessArea: #EEF4ED;
$titoloPiccolo: #02A6A6;
$titoloGrande: #21333E;
$fintiPulsanti: #CCE3DE;
$txtFintiPulsanti: #2EA3B7;
$txtParagrafo: #9B8EAA;
// sezione company
$txtCompany: #C0C3D0;
