@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
@import 'partials/common';
@import 'partials/variables.scss';
@import 'partials/mixins';
@import 'partials/nav-top';
@import 'partials/header';
@import 'partials/logo';
@import 'partials/header-rigth';
@import 'partials/header-cards';
@import 'partials/business_area_cards';
@import 'partials/company-about';
@import 'partials/company-image';
@import 'partials/partner-logo';
@import 'partials/latest-new';
@import 'partials/news-letter';
@import 'partials/send-message';
@import 'partials/footer';




main{
    .business_area{
        width: 100%;
        height: 500px;
        background-color: $bgBusinessArea;
    }
    .the_company{
        width: 100%;
        height: 700px;
    }
    .partnerschip{
        width: 100%;
        height: 200px;
        background-color: $bgBusinessArea;
    }
    .latest{
        width: 100%;
        height: 590px;
    }
}
footer{
    width: 100%;
    height: 480px;
    background-image: url('../img/bg-10.jpg');
    background-size: cover;
    background-position: center center;
    .copyright{
        display: flex;
        justify-content: space-around;
        color: #9FADB3;
        font-size: x-small;
       #coding{
            color: $logoNex;
        }
    }
}



